.wrapper {
  position: relative;
  border: transparent dashed 1px;
  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: #c1c1c1 dashed 1px;
    background-color: rgba(241, 241, 241, 0.5);
  }
}

.header {
  margin: 0 0 1rem;
}

.description {
  flex: 1;
  padding: 0 1rem;
  margin-left: 1.5rem;
  line-height: 1.4em;
}

.row {
  display: flex;
  border-bottom: 1px solid black;

  & > * {
    padding: 1rem;
    flex: 3;
    border-left: 1px solid black;
    border-right: 1px solid black;

    & > * {
      margin: 0 0 0.4rem;
    }

    &:first-child {
      flex: 2;
      border-right: none;
    }
    &:last-child {
      flex: 2;
      border-left: none;
    }
  }
}
