.wrapper {
  position: relative;
  padding: 1rem;
  border: transparent dashed 1px;
  &:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    border: #c1c1c1 dashed 1px;
    background-color: rgba(241, 241, 241, 0.5);
  }
}

.header {
  margin: 0 0 1rem;
}

.description {
  flex: 1;
  padding: 0 1rem;
  margin-left: 1.5rem;
  line-height:1.4em;

  /*  ${media.tablet`
          text-align: center;
          margin-top: 1.2rem;
          margin-left: 0;
      `};*/
}



