@import './../styles/variables.css';

:root {
  --background-color: yellow;
  --background-green: #ff0;
}

.welcome {
  background: white;
  color: var(--header-font-color);
  font-size: 3rem;

  text-align: center;
  transform: rotate(-5.1deg);

  & .username {
    font-weight: normal;
  }
}

.unused_for_test {
  color: var(--header-font-color);
}
